@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.invisibleScrollbar::-webkit-scrollbar {
  display: none;
}

.sideBar {
  height: 100%;
  width: 140px;
  position: fixed;
  background-color: #44475a;
  overflow-x: hidden;
  padding-top: 20px;
}
.sideBar__Link {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 3px;
}
.sideBar__Link__Icon {
  padding: 4px;
  border-radius: 1.5px;
  color: #44475a;
}

.sideBar__Link a {
  height: 18px;
  padding: 3px;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
  margin-left: 5px;
}

.mainDisplay {
  background-color: #272a36;
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  max-height: 100%;
  width: calc(100% - 140px);
  position: absolute;
}

.title {
  text-transform: uppercase;
  color: #8be9fd;
  font-family: "Inconsolata", monospace;
  padding: 10px;
  text-align: center;
  margin-top: 25px;
}

.redditContainer {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  margin: 0;
  width: 25%;
  position: relative;
}
/* .redditContainer__itemsList {
  flex: 1;
  margin-top: "20px";
  overflow: "auto";
} */
/* fijate que pasa con esta clase que no funciona */
