@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.mainDisp {
  background-color: #272a36;
  margin-left: 140px;
  width: 33.33%;
}
.jsRedditList {
  width: 100%;
}
.listTitle h4 {
  text-transform: uppercase;
  color: #8be9fd;
  font-family: "Inconsolata", monospace;
  padding: 10px;
}

.listTitle {
  margin: 30px;
  text-align: center;
}
.newsList {
  overflow: scroll;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
}
.sideBar {
  height: 100%;
  width: 140px;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: #44475a;

  overflow-x: hidden;
  padding-top: 20px;
}
.link {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 3px;
}
.linkIcon {
  padding: 4px;
  border-radius: 1.5px;
  color: #44475a;
}

.link a {
  height: 18px;
  padding: 3px;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
  margin-left: 5px;
}
